---
title: 'Site Specs'
layout: 'page'
subHeadline: What makes this site go?
pageOrder: 3
---
			
<article class="site-specs">

	<h3>JavaScript</h3>
	<div class="row">
		<div class="col col-4">
			<img src="{{ paths.specImgs }}/nodejs.jpg" alt="Node JS">
			<h2>Node JS</h2>
			<p>This site is built on NodeJS. A content site on Node? All sorts of non-blocking, fast goodness.</p>
		</div>
		<div class="col col-4">
			<img src="{{ paths.specImgs }}/expressjs.jpg" alt="Express JS">
			<h2>Express JS</h2>
			<p>Express makes building on top of Node dead simple.  By far my favorite server-side framework to work with.</p>
		</div>
		<div class="col col-4">
			<img src="{{ paths.specImgs }}/backbonejs.jpg" alt="Backbone JS">
			<h2>Backbone JS</h2>
			<p>A front end layer for modeling. Docpad's system (next) is extended from Backbone models.</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col col-4">
			<img src="{{ paths.specImgs }}/docpad.jpg" alt="Docpad">
			<h2>Docpad</h2>
			<p>The three technologies above are all utilized and wrapped up in Docpad, an amazingly simple, database-free content system.</p>
		</div>
		<div class="col col-4">
			<img src="{{ paths.specImgs }}/coffeescript.jpg" alt="CoffeeScript">
			<h2>CoffeeScript</h2>
			<p>CoffeeScript is used througout the site as a JavaScript pre-processor but also with Eco: Embedded CoffeeScript templates, this makes dynamic templating easier within the HTML.</p>
		</div>
		<div class="col col-4">
			<img src="{{ paths.specImgs }}/handlebarsjs.jpg" alt="Handlebars JS">
			<h2>Handlebars JS</h2>
			<p>My personal favorite HTML templating option, Handlebars is what I use for this site on page layouts and partials.</p>
		</div>
	</div>
	
	<hr>
	<h3>CSS &amp; Structure</h3>
	<div class="row">
		<div class="col col-4">
			<img src="{{ paths.specImgs }}/sass-compass.jpg" alt="Sass & Compass">
			<h2>Sass/Compass</h2>
			<p>CSS is fun again with Sass and Compass. I have a programming brain, straight CSS is just too boring for me, but I do thoroughly enjoy writing Sass.</p>
		</div>
		<div class="col col-4">
			<img src="{{ paths.specImgs }}/markdown.jpg" alt="Markdown">
			<h2>Markdown</h2>
			<p>I go back and forth with Markdown. Most days I'd rather write HTML, but I'm training myself to write blog posts in Markdown to see if I begin to enjoy it.</p>
		</div>
		<div class="col col-4">
			<img src="{{ paths.specImgs }}/alderaan.jpg" alt="Alderaan">
			<h2>Alderaan</h2>
			<p>This is a Sass-based fluid/repsonsive framework that I developed at Houndstooth. My main reason for building it was to get projects going faster and I didn't like Bootstrap or Foundation because they were too big.</p>
		</div>
	</div>

	<hr>
	<h3>Deployment &amp; Versioning</h3>
	<div class="row">
		<div class="col col-4">
			<img src="{{ paths.specImgs }}/heroku.jpg" alt="Heroku">
			<h2>Heroku</h2>
			<p>This site is deployed to a Heroku instance. When building Node applications, I love Heroku because of it's simplicity. When building PHP (rare lately), I run those apps on <a href="http://linode.com">Linode</a>.</p>
		</div>
		
	</div>
</article>